/* 
// Table of content
// -----------------------------------------------------------------------------
// - 1. Typography
// - 2. Helpers
*/
/* -----------------------------------------------------------------------------
// 1. TYPOGRAPHY
// ----------------------------------------------------------------------------- */
body {
  font-family: 'Lato', sans-serif; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit; }

h1, h2 {
  margin: 10px 0 25px 0; }

p, blockquote {
  line-height: 24px; }

blockquote {
  font-style: italic; }

/* main colors */
h1, h2, h3, h4, h5, h6 {
  color: #484747; }

p {
  color: #545353; }

/* links */
a {
  text-decoration: none;
  color: #7dbd22;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s; }
  a:hover {
    text-decoration: underline;
    color: #7dbd22; }

ul {
  padding-left: 0;
  list-style: none; }

mark {
  padding: 3px 5px;
  color: #fff;
  background-color: #7dbd22; }

::selection,
.selected-text {
  background-color: #484747;
  color: #fff; }

.selected-text {
  padding: 5px 2px 2px 2px; }

ol,
ul {
  padding-left: 0;
  list-style-position: inside; }

.list-chevron li,
.list-arrow li,
.list-dotted li,
.list-checked li {
  position: relative;
  /* Create a positioning context */
  color: #484747;
  margin: 0 0 10px 0;
  /* Give each list item a left margin to make room for the numbers */
  padding: 2px 8px 2px 0;
  /* Add some spacing around the content */
  list-style: none;
  /* Disable the normal item numbering */ }

.list-chevron li:before,
.list-arrow li:before,
.list-checked li:before {
  content: "\e626";
  font-family: "entypo";
  display: inline-block;
  color: #fff;
  margin-right: 8px;
  text-align: center !important;
  height: 15px;
  width: 15px;
  line-height: 16px;
  background-color: #7dbd22;
  border-radius: 50%; }

.list-arrow li:before {
  content: "\e617";
  background-color: transparent;
  border-radius: 0;
  font-size: 12px;
  color: #7dbd22; }

.list-dotted li {
  list-style: disc;
  list-style-position: inside;
  padding-left: 0; }

.list-checked li:before {
  content: "\e67d";
  background-color: transparent;
  border-radius: 0;
  font-size: 12px;
  color: #7dbd22; }

ol li {
  padding: 4px 8px 4px 0;
  margin-bottom: 10px; }

ol.list-roman {
  list-style-type: lower-roman; }

ol.list-loweralpha {
  list-style-type: lower-alpha; }

ol.list-upperalpha {
  list-style-type: upper-alpha; }

/* responsive images */
img {
  max-width: 100%;
 }

/* -----------------------------------------------------------------------------
// 2. HELPERS
// ----------------------------------------------------------------------------- */
/* grey section */
.section-grey {
  background-color: #f7f7f7; }

/* spacing */
.section-space,
.space-lg {
  padding: 100px 0; }

.space-sm {
  padding: 30px 0; }

.space-top {
  margin-top: 50px; }

.space-bottom {
  margin-bottom: 50px; }

.space-bottom-sm {
  margin-bottom: 20px; }

.space-md {
  margin: 50px 0; }

.space {
  margin: 25px 0; }

.space-heading-md {
  margin-bottom: 30px; }

@media (max-width: 992px) {
  .space-mb {
    margin: 0 0 50px 0; } }
.no-space-top {
  padding-top: 0;
  margin-top: 0; }

.no-space-bottom {
  padding-bottom: 0;
  margin-bottom: 0; }

.no-space-right {
  padding-right: 0;
  margin-right: 0; }

.no-space {
  padding: 0; }

.no-space-left {
  padding-left: 0; }

/* back to top icon */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 40px;
  height: 40px;
  background-color: #7dbd22;
  border: 2px solid #fff;
  text-align: center;
  z-index: 200; }

.back-to-top i {
  line-height: 40px;
  color: #fff;
  font-size: 14px; }

.back-to-top:hover {
  cursor: pointer; }

/* animation helpers */
.animation {
  opacity: 0; }

.animation-visible {
  opacity: 1; }

.animated,
.animation {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

/*# sourceMappingURL=base.css.map */
